services:
  - type: web
    name: python-runner-bot
    runtime: python
    plan: free
    region: frankfurt

    buildCommand: pip install -r requirements.txt
    startCommand: python bot.py

    envVars:
      - key: BOT_TOKEN
        sync: false

    healthCheckPath: /
